<html lang="en">
<%- include('./partial/head.ejs')   %>
<body>
<%- include('./partial/nav.ejs')  %>

    <div class="not-found content">
      <h1>  Oops, page not found!</h1>
    </div>
</body>

<%- include('./partial/footer.ejs')  %>
</html>
