<nav>
    <div class="site-title">
        <a href="/"><h1>Literasi</h1></a>
        <p>Literasi Tunas Bangsa</p>
    </div>
    <ul>
        <li><a href="/">Artikel</a></li>
        <li><a href="/about">Tentang</a></li>
        <li><a href="/blog/create">Artikel Baru</a></li>
    </ul>
</nav>
